#fixed{
    background: #eeeeee;
    position: fixed;
    padding: 40px;
    text-align: center;
    margin: 0;
    top: 0;
    left: 0;
}
.wrapper {
    width: 600px;
    margin: 0 auto 0 auto;
    padding: 20px;
}
#relative{
    background:  #eeeeee;
}
#absolute{
    background: #999999;
}